<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>OG</span>
        <span class="font-weight-light">PLAYER CONSOLE</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        href="/"
      >
        <span class="mr-2">Now Playing</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <NowPlaying/>
    </v-content>
  </v-app>
</template>

<script>
import NowPlaying from './components/NowPlaying';

export default {
  name: 'App',
  components: {
    NowPlaying,
  },
  data: () => ({
    //
  }),
};
</script>
