<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>    

      <v-flex
        mb-5
        xs12
      >           
        <h2 class="headline font-weight-bold mb-3">{{trackName}}</h2>
        <h3 class="headline font-weight-bold mb-3">{{position}}/{{trackLen}}</h3>
        <v-layout justify-center>
          <v-progress-linear v-bind:value="trackProgress"></v-progress-linear>         
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    trackName: "not available yet",
    position: "",
    trackLen: "",
    trackProgress: 0
  }),
  created() {
      this.setupStream();
  },
  methods: {
      setupStream() {
          // Not a real URL, just using for demo purposes
          let es = new EventSource('http://localhost:1666/api/nowPlaying/Stream');

          es.addEventListener('message', event => {
              let data = JSON.parse(event.data);
              this.trackName = data.trackname
              this.position = new Date(data.position * 1000).toISOString().substr(11, 8);
              this.trackLen = new Date(data.duration * 1000).toISOString().substr(11, 8);
              this.trackProgress = (data.position / data.duration) * 100
          }, false);

          es.addEventListener('error', event => {
              if (event.readyState == EventSource.CLOSED) {
                  console.log('Event was closed');
                  console.log(EventSource);
              }
          }, false);
      }
  },
  computed: {
    trackProgress () {
      return this.$store.state.nowPlaying.progress
    },
    nowPlaying () {
      return this.$store.state.nowPlaying
    }
  }
};
</script>
